.container{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.col{
    padding-left: 15px;
    padding-right: 15px;
}
.col-2{
    flex: 0 0 16.66%;
    max-width: 16.66%;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}

.col-7{
   flex: 0 0 58.33%;
   max-width: 58.33%; 
}
