.container{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
}
.col{
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}

.col-6{
   flex: 0 0 50%;
   max-width: 50%; 
}
