*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
    transition: all 0.5s linear;
}
.text-center{
    text-align: center;
}
/* header */


/* *******--header--****** */


/* navigation */
.main-navigation{
    background-color: #F3F3FF;
}
.nav-menu{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.nav-menu>li>a{
    color: #010101;
    padding: 15px;
}
.nav-menu>li>a:hover{
    background-color: #7879F1;
    color: #fff;
}
.nav-menu li a{
    display: inline-block;
    font-weight: 500;
}


/* ********--Navigation---******* */


/* footer */
footer{
    background-color: #7879F1;
    color: #fff;
    padding: 15px;
    font-weight: 500;
}
/* ******--footer-- */