*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
    transition: all 0.5s linear;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.text-center{
    text-align: center;
}
.bg-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #7879F1;
    border-radius: 5px;
}
/* header */


/* *******--header--****** */


/* navigation */
.main-navigation{
    background-color: #F3F3FF;
}
.nav-menu{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.nav-menu>li>a{
    color: #010101;
    padding: 15px;
}
.nav-menu>li>a:hover{
    background-color: #7879F1;
    color: #fff;
}
.nav-menu li a{
    display: inline-block;
    font-weight: 500;
}


/* ********--Navigation---******* */

/* Sidebar navigation */
.sidebar-nav{
    margin: 0;
    list-style: none;
    padding: 0;
    background-color: #F3F3FF;
    margin-top: 30px;
    padding: 15px 10px;
}
.sidebar-nav .logo img{
    max-width: 70%;
}
.sidebar-nav li{
    padding-top: 15px;
}
.sidebar-nav a{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    color: #010101;
    font-weight: 500;
}
.sidebar-nav a:hover{
    color: #7879F1;
}
.sidebar-nav span{
    display: inline-block;
}
.sidebar-nav a .icon{
    flex: 0 0 40px;
    max-width: 40px;
}
.sidebar-nav a .caption{
    flex: 0 0 calc(100% - 40px);
    max-width: calc(100% - 40px);
    padding-left: 15px;
}
/* *******--sidebar navigation--******** */
/* main content */
.main-content{
    padding: 30px 0 60px;
}

/* ******main content*****/

/* footer */
footer{
    background-color: #7879F1;
    color: #fff;
    padding: 15px;
    font-weight: 500;
}
/* ******--footer-- */